*{
    font-family: 'Rubik', sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: hsl(270, 20%, 96%);
}

.main{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

.container-main{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: hsl(270, 20%, 96%);
}

.main-roxo{
   margin: 0 auto;
   width: 600px;
   height: 900px;
   background-image: linear-gradient(hsl(293, 59%, 47%), hsl(264, 100%, 61%));
   border-end-end-radius: 600px;
   border-end-start-radius: 600px;
   margin-left: -50px;
}   

.cover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.container-cover{
    margin: 0 auto;
    width: 1000px;
    height: 800px;
    padding: 10px;
    display: flex;
}

.app{
    width: 300px;
    height: 770px;
    background-color: white;
    border-radius: 40px;
    margin-right: 50px;
    padding: 20px;
    box-shadow: 0 0 1em gray;
}


.info{
    width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 90px;
}

.titulo{
    margin-bottom: 20px;
    font-size: 20px;
    color: hsl(271, 36%, 24%);
}

.paragrafo{
    width: 450px;
    color: hsl(270, 7%, 64%);
    line-height: 1.5em;
}

.faixa-branca{
    position: absolute;
    width: 150px;
    background-color: white;
    padding: 12px;
    border-end-end-radius: 30px;
    border-end-start-radius: 30px;
    margin-left: 70px;
}

.header-app{
    background-image: linear-gradient(to right, hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    padding: 20px;
}

.container-headerapp{
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-headerapp p{
    margin-left: 10px;
}

.avatar img{
    width: 34px;
    border-radius: 50%;
    border: 2px solid white;
    align-items: center;
}

.avatar-span{
    color: white;
    margin-right: 60px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 110px;
}

.avatar-span-sub{
    color: hsl(270, 20%, 96%);
    font-size: 10px;
    margin-left: -35px;
}

.main-app{
    width: 300px;
    height: 670px;
    margin-top: -10px;  
    background-color: hsl(270, 20%, 96%);
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.paragrafos{
    padding: 10px;
    color: hsl(276, 55%, 52%);
    margin-top: 5px;
}

.text-app{
    background-color: hsl(0, 6%, 90%);
    padding: 15px;
    margin-left: 5px;
    width: 150px;
    border-radius: 20px;
    font-size: 11px;
    border-end-start-radius: 0px;
}

.text-app1{
    margin-top: 13px;
}

.chat-img{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.chat-img img{
    width: 70px;
    margin-right: 7px;
    border-radius: 20px;
}


.chat-paragrafo{
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.chat-1{
    width: 155px;
    border-radius: 20px;
    font-size: 11px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    border-end-end-radius: 0px;
}

.chat-2{
    width: 90px;
    border-radius: 20px;
    font-size: 11px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    border-end-end-radius: 0px;
    margin-top: 13px;
}

.audio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 15px;
    margin-left: 15px;
    background-image: linear-gradient(to right,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-radius: 20px;
    margin-top: 10px;
}

.circulo-audio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
}

.text-audio{
    font-size: 11px;
    color: white;
    margin-left: -50px;
}

.preco-audio{
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.text-audio1{
    margin-left: -70px;
}

.footer-app{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 278px;
    margin-top: 10px;
    background-color: white;
    border-radius: 50px;
    margin-left: 15px;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    padding: 5px;
}

.footer-text{
    color: rgb(182, 180, 180);
    font-size: 13px;
    padding: 7px;
}

/* MEDIA QUERIES */


@media (max-width: 1160px){
    .container-cover{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 300px;
        margin: 0px;
    }
    .app{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }

    .container-main{
        width: 100%;
        background-color: hsl(270, 20%, 96%);
        /* background-color: brown; */
    }

    .info{
        align-items: center;
        justify-content: center;
        width: 300px;
    }
    .paragrafo{
        width: 320px;
        flex-wrap: wrap;
    }

    .main-roxo{
        width: 500px;
        height: 900px;
    } 
}

@media (max-width: 550px){

    .app{
        margin-top: -80px;
    }

    .container-cover{
        width: 100%;
    }
    .info{
        width: 300px;
        padding: 10px;
    }
    .main-roxo{
        width: 100%;
        height: 800px;
        margin-left: 0px;
    }

    .titulo{ 
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 15px;
        color: hsl(271, 36%, 24%);
    }

    .paragrafo p{
        width: 300px;
        font-size: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 400px){
    .app{
        padding: 10px;
    }
    .main-roxo{
        width: 0px;
        height: 0px;
    }
}
